h1{ text-align: center;}

#Heading-section-top{
    color: rgb(37, 165, 37);
}

.font-color-pink{
    color: pink;
}

.font-size-10{
    font-size: 15 rem;
}

.font-Geist-Mono{
    font-family: 'Geist Mono';
    font-style: italic;
    font-weight: 100;
    text-indent:  Length(15px);
    letter-spacing: normal;
    line-height: 5;
    word-spacing: normal;
    white-space: nowrap;
    text-align: center;
}

a:link{
    color:powderblue
}

a:link, a:visited{
    background-color: aliceblue;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration:none;
    display: inline-block;

}

a:hover{
    color:violet;
}

@media (max-width: 576px) {
    body {
      background-color: lightblue;
    }
}

/* add comment */